<!-- DOM Mobile -->
<section *ngIf="isMobile" class="preamble-mobile">
  <app-bubbles class="first-bubble" [height]="150"></app-bubbles>
  <app-bubbles class="second-bubble" [height]="50"></app-bubbles>

  <h3 class="section-headline">
    Let's work
    <br />
    together
  </h3>

  <p>
    I am a Front-end developer based in Munich, Germany. I enjoy helping
    designers and companies bring their ideas into real life. I am looking
    forward to continuing my developer career with a job in a junior web
    developer position.
    <br />
    <br />
    If you think I'd be a good match for your projects, contact me!
  </p>

  <app-button-secondary appScrollTo target="#contactSection">
    <span>Send a message</span>
  </app-button-secondary>
</section>

<!-- DOM Tablet and bigger -->
<section *ngIf="isTablet || isDesktop" class="preamble-tablet">
  <app-bubbles class="first-bubble" [height]="200"></app-bubbles>
  <app-bubbles class="second-bubble" [height]="50"></app-bubbles>

  <h3 class="section-headline">
    Let's work
    <br />
    together
  </h3>

  <div class="right-wrapper">
    <p>
      I am a Front-end developer based in Munich, Germany. I enjoy helping
      designers and companies bring their ideas into real life. I am looking
      forward to continuing my developer career with a job in a junior web
      developer position.
      <br />
      <br />
      If you think I'd be a good match for your projects, contact me!
    </p>

    <app-button-secondary appScrollTo target="#contactSection">
      <span>Send a message</span>
    </app-button-secondary>
  </div>
</section>
