<app-bubbles class="first-bubble" [height]="150"></app-bubbles>

<app-bubbles class="second-bubble" [height]="50"></app-bubbles>

<h3 id="preamble" class="section-headline">
  Let's work
  <br />
  together
</h3>

<p>
  Ich bin ein Frontend-Entwickler aus Hannover. Das was ich an der
  Software-Entwicklung am meisten liebe: Tolle Designs umsetzen und für
  jedermann zugänglich zu machen. Mindset Problemsolver: Klappt etwas nicht
  sofort, motiviert es mich noch mehr, eine Lösung für das Problem zu finden.
  <br />
  <br />
  Falls Sie denken, dass ich gut in Ihr Unternehmen passen würde, kontaktieren
  Sie mich doch einfach!
</p>

<app-button-secondary appScrollTo target="#contactSection">
  <span>Send a message</span>
</app-button-secondary>
