<header class="header-mobile">
  <img src="../../assets/img/logo.png" alt="My personal Logo" />

  <svg
    *ngIf="isMobile"
    (click)="openSidenav()"
    class="burger-menu"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 2H31"
      stroke="#5988FF"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M1 16H31"
      stroke="#5988FF"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M1 30H31"
      stroke="#5988FF"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>

  <nav *ngIf="!isMobile" class="navbar-tablet">
    <span><a href="#preamble">About me</a></span>
    <span><a href="#skillSet">Skill set</a></span>
    <span><a href="#projects">My work</a></span>
    <span><a href="#contactSection">Contact</a></span>
  </nav>
</header>

<app-sidenav
  #sideNav
  (childEvent)="showSidenav = $event"
  [parentData]="showSidenav"
  [class.sidenav]="showSidenav"
></app-sidenav>
