
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 85%;
    margin: auto;
    padding: 20px 0;


    img {
        height: 64px;
        width: 64px;
    }

    nav {
        display: flex;
        gap: 36px;
    }
}

.burger-menu {
    height: 30px;
    width: 30px;
    z-index: 2;
    cursor: pointer;
}


.sidenav {
    width: 100%;
}