<header>
    <img src="../../assets/img/logo.png" alt="">

    <svg (click)="openSidenav()" class="burger-menu" width="32" height="32" viewBox="0 0 32 32" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M1 2H31" stroke="#5988FF" stroke-width="2" stroke-linecap="round" />
        <path d="M1 16H31" stroke="#5988FF" stroke-width="2" stroke-linecap="round" />
        <path d="M1 30H31" stroke="#5988FF" stroke-width="2" stroke-linecap="round" />
    </svg>

    <!-- Background Bubble -->
    <svg class="atf-bubble" width="653" height="653" viewBox="0 0 653 653" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="326.347" cy="326.347" r="326.08" fill="url(#paint0_radial_498_3082)" />
        <defs>
            <radialGradient id="paint0_radial_498_3082" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(129.31 146.491) rotate(35.4598) scale(594.216)">
                <stop offset="0.0625" stop-color="#5988FF" />
                <stop offset="0.515625" stop-color="#5988FF" />
                <stop offset="1" stop-color="#0043F0" />
            </radialGradient>
        </defs>
    </svg>
</header>

<app-sidenav (childEvent)="showSidenav = $event" [parentData]="showSidenav" [class.sidenav]="showSidenav"></app-sidenav>