<footer [ngClass]="{ 'footer-mobile': isMobile, 'footer-desktop': isDesktop }">
  <a href="#header">
    <img class="logo" src="../../assets/img/logo_weiß.png" alt="" />
  </a>

  <span class="white-font text-container">
    <div class="copyright-wrapper">
      <mat-icon aria-hidden="false" fontIcon="copyright"> </mat-icon>
      Tristan Bierig 2023
    </div>
    <span class="imprint" (click)="openDialog('imprint')">Impressum</span>
    <span class="imprint" (click)="openDialog('privacy')">Datenschutzerklärung</span>
  </span>

  <div class="social-wrapper">
    <a href="https://github.com/TristanBierig" target="_blank">
      <img src="../../assets/img/icons/Github button.png" alt="" />
    </a>
    <a href="#contactSection">
      <img src="../../assets/img/icons/Email button.png" alt="" />
    </a>
    <a href="https://www.linkedin.com/in/tristan-bierig/" target="_blank">
      <img src="../../assets/img/icons/Linkedin button.png" alt="" />
    </a>
  </div>
</footer>
