:host {
    min-height: fit-content !important;
    background: var(--background-gradient-deepblue-color);
}

.footer-mobile {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.white-font {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: var(--font-main-para-mobile-size);
}

.social-wrapper {
    display: flex;
    gap: 32px;
}

.imprint {
    color: white;
}