<a href="#header">
  <img src="../../assets/img/logo.png" alt="" />
</a>

<span class="white-font">
  <mat-icon
    aria-hidden="false"
    fontIcon="copyright"
  >
  </mat-icon>
  Tristan Bierig 2023
</span>

<div class="social-wrapper">
  <a href="https://github.com/TristanBierig" target="_blank">
    <img src="../../assets/img/icons/Github button.png" alt="" />
  </a>
  <a href="#contactSection">
    <img src="../../assets/img/icons/Email button.png" alt="" />
  </a>
  <a href="https://www.linkedin.com/in/tristan-bierig/" target="_blank">
    <img src="../../assets/img/icons/Linkedin button.png" alt="" />
  </a>
</div>

<span class="imprint">Impressum</span>
