:host {
    background: var(--background-gradient-color);
}

.contact-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 32px;
    margin-top: 128px;
    padding-bottom: 128px;
}

h3 {
    margin-top: 24px;
}

h4 {
    color: var(--font-color-blue);
    font-size: 24px;
    margin: 0;
}

h5 {
    color: var(--font-color-blue);
    font-weight: 400;
}

.right-bubble {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.scroll-top-wrapper {
    position: absolute;
    left: 0;
    bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 28px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
    }
}