.project-list-mobile {
    margin-inline: 32px;
    width: calc(100% - 64px);

    h3 {
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
    }

    p {
        margin-top: 0;
    }

    .section-headline {
        position: relative;
    }

    .app-project-element-container {
        img {
            display: block;
        }
    }

    app-bubbles {
        position: absolute;
    }

    .first-bubble {
        left: -20px;
        top: -110px;
    }

    .second-bubble {
        top: -40px;
        right: -20px;
    }
}