.project-list-mobile {
    padding: 32px;
    width: 100%;
    overflow: hidden;

    h3 {
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
    }

    p {
        margin-top: 0;
    }

    .section-headline {
        position: relative;
    }

    .app-project-element-container {
        img {
            display: block;
        }
    }

    app-bubbles {
        position: absolute;
    }

    .first-bubble {
        left: -20px;
        top: -80px;
    }

    .second-bubble {
        top: -60px;
        left: 220px;
    }
}


.project-list-tablet {
    padding: 164px;
    width: 100%;
    overflow: hidden;

    h3 {
        margin-top: 60px;
        margin-bottom: 30px;
        position: relative;
    }

    p {
        margin-top: 0;
    }

    .section-headline {
        position: relative;
    }

    .app-project-element-container {
        img {
            display: block;
        }
    }

    app-bubbles {
        position: absolute;
    }

    .first-bubble {
        left: -20px;
        top: -80px;
    }

    .second-bubble {
        top: -60px;
        left: 220px;
    }
}
