<form
  [formGroup]="contactForm"
  action="https://tristan-bierig.de/send_mail.php"
  method="post"
  (ngSubmit)="onSubmit()"
  #form="ngForm"
>
  <mat-form-field>
    <mat-label>Your name</mat-label>
    <input
      required
      [formControl]="nameControl"
      matInput
      [(ngModel)]="formName"
      type="text"
      name="name"
    />
    <mat-error *ngIf="nameControl.invalid">{{
      getErrorMessageName()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Your email</mat-label>
    <input
      [formControl]="emailControl"
      [(ngModel)]="formEmail"
      matInput
      type="email"
    />
    <mat-error *ngIf="emailControl.invalid">{{
      getErrorMessageEmail()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Your message</mat-label>
    <textarea
      [formControl]="messageControl"
      [(ngModel)]="formMessage"
      matInput
      type="text"
      name="message"
    ></textarea>
    <mat-error *ngIf="messageControl.invalid">{{
      getErrorMessageText()
    }}</mat-error>
  </mat-form-field>

  <button type="submit">
    <app-button-primary>
      <span>Say hello</span>
    </app-button-primary>
  </button>
</form>
