<section class="element-wrapper">
    <img data-aos="fade-up" data-aos-anchor-placement="top-center" src="{{ project.image }}" alt="">

    <div class="lower-wrapper" data-aos="fade-up" data-aos-anchor-placement="top-center">
        <h3 class="section-headline">{{ project.name }}</h3>

        <div class="tool-wrapper">
            <span *ngFor="let tool of project.tools; let last = last">
                {{ tool }}
                <span *ngIf="!last">|</span>
            </span>
        </div>

        <span class="summary">
            {{ project.summary }}
        </span>

        <div class="btn-wrapper">
            <app-button-primary></app-button-primary>
            <app-button-secondary></app-button-secondary>
        </div>
    </div>
</section>