:host {
    min-height: max-content !important;
}

.skill-mobile {
    position: relative;
    display: block;
    width: calc(100% - 64px);
    margin-bottom: 64px;
    margin-inline: 32px;
    isolation: isolate;

    &::after {
        content: '';
        background: var(--background-gradient-deepblue-color);
        position: absolute;
        left: -32px !important;
        right: -32px !important;
        inset: 0;
        transform: skewY(5deg);
        z-index: -1;
    }
}

h3 {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 72px;
}

.section-container {
    height: fit-content !important;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 32px;

        &:last-child {
            flex-grow: 1;
        }
    }
}