<div class="sidenav-header">
  <img src="../../assets/img/logos/Logo2_blau.png" alt="Logo of my webpage" />
  <img
    (click)="closeSidenav()"
    src="../../assets/img/icons/close.png"
    alt="Blue X"
  />
</div>

<nav>
  <a (click)="closeSidenav()" appScrollTo target="#preamble">About me</a>
  <a (click)="closeSidenav()" appScrollTo target="#skillSet">Skill set</a>
  <a (click)="closeSidenav()" appScrollTo target="#projects">My work</a>
  <a (click)="closeSidenav()" appScrollTo target="#contactSection">Contact</a>
</nav>
