// Mobile Design
.atf-mobile {
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 100%;
    height: 100svh;
    background: var(--background-gradient-color);
    overflow: hidden;
    isolation: isolate;

    #header {
        z-index: 2;
    }

    span {
        margin-inline: 32px;
        padding: 20px 0;
        z-index: 1;
        position: relative;
        width: max-content;

        * {
            color: var(--font-color-white);
        }

        h1 {
            margin: 0;
            font-family: 'Baloo';
            font-size: var(--font-headline-mobile-size);
            line-height: 1;
        }

        h2 {
            margin: 0;
            font-weight: 400;
            font-size: var(--font-subheadline-mobile-size);
        }

        .atf-bubble {
            position: absolute;
            top: -60%;
            right: -20%;
            z-index: -1;
        }
    }

    .portrait-img {
        position: relative;
        bottom: -18px;
        min-height: 500px;
        object-fit: contain;
        z-index: 1;
    }

    .first-bubble {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-70%, 50%);
        z-index: 1;
    }
}

// Tablet Design
.atf-tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    width: 100%;
    height: 100svh;
    background: var(--background-gradient-color);
    overflow: hidden;
    isolation: isolate;

    #header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .main-container {
        width: 85%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;

        .headline-wrapper {
            z-index: 1;
            width: max-content;
            align-self: flex-start;

            * {
                color: var(--font-color-blue);
            }

            h1 {
                margin: 0;
                font-family: 'Baloo';
                font-size: 100px;
                line-height: 1;
            }

            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 36px;
            }
        }

        .portrait-img {
            height: 700px;
            object-fit: contain;
            align-self: flex-end;
            z-index: 2;
        }

        .atf-bubble {
            position: absolute;
            top: -40%;
            left: 0;
            transform: translateX(-50%);
            z-index: -1;
        }
    }


    .social-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 80px;
        bottom: 40px;
    }

    .scroll-wrapper {
        position: absolute;
        right: 250px;
        bottom: 30%;

        color: var(--font-color-blue);
        font-size: var(--font-subheadline-mobile-size);

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1000px;

            transform: translateX(-50%);
            width: 2px;
            height: 1000px;
            background-color: var(--font-color-blue);

        }
    }

    .first-bubble {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-70%, 50%);
        z-index: 2;
    }
}

// Desktop Design
.atf-desktop {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    width: 100%;
    height: 100svh;
    background: var(--background-gradient-color);
    overflow: hidden;
    isolation: isolate;

    #header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .main-container {
        width: 85%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .headline-wrapper {
            z-index: 1;
            width: max-content;
            align-self: flex-start;
            padding-top: 64px;

            * {
                color: var(--font-color-blue);
            }

            h1 {
                margin: 0;
                font-family: 'Baloo';
                font-size: 100px;
                line-height: 1;
            }

            h2 {
                margin: 0;
                font-weight: 400;
                font-size: 36px;
            }
        }

        .portrait-img {
            height: 650px;
            object-fit: contain;
            align-self: flex-end;
            z-index: 2;
        }

        .atf-bubble {
            position: absolute;
            top: -40%;
            left: -25%;
            z-index: -1;
        }
    }

    .social-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 80px;
        bottom: 40px;
    }

    .scroll-wrapper {
        position: absolute;
        right: 250px;
        bottom: 30%;

        color: var(--font-color-blue);
        font-size: var(--font-subheadline-mobile-size);

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -3000px;

            transform: translateX(-50%);
            width: 2px;
            height: 3000px;
            background-color: var(--font-color-blue);

        }
    }

    .first-bubble {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-70%, 50%);
        z-index: 2;
    }
}