.atf-mobile {
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 100%;
    height: 100svh;
    background: var(--background-gradient-color);
    overflow: hidden;
    isolation: isolate;

    #header {
        z-index: 2;
    }

    span {
        margin-inline: 32px;
        padding: 20px 0;
        z-index: 1;
        position: relative;
        width: max-content;

        * {
            color: var(--font-color-white);
        }

        h1 {
            margin: 0;
            font-family: 'Baloo';
            font-size: var(--font-headline-mobile-size);
            line-height: 1;
        }

        h2 {
            margin: 0;
            font-weight: 400;
            font-size: var(--font-subheadline-mobile-size);
        }

        .atf-bubble {
            position: absolute;
            top: -60%;
            right: -20%;
            z-index: -1;
        }
    }

    .portrait-img {
        position: relative;
        bottom: -18px;
        min-height: 500px;
        object-fit: contain;
        z-index: 1;
    }

    .first-bubble {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-70%, 50%);
        z-index: 1;
    }
}